<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
"
>
    <!--静态资源访问：开启默认servlet处理，就能够支持对静态资源，如html，css，jpg等资源的访问-->
    <mvc:default-servlet-handler/>
    <!--开启mvc注解支持，@RequestMapping-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <bean name="/hello" class="org.RicardoPluto.controller._01hello.HelloController"></bean>

    <!--实现controller三种方式：-->
    <!--1实现controller接口-->
    <bean name="/implControllerMethod01" class="org.RicardoPluto.controller._02implcontrollermethod.ImplControllerMethod01"></bean>
    <!--2实现HttpRequestHandler接口-->
    <bean name="/implControllerMethod02" class="org.RicardoPluto.controller._02implcontrollermethod.ImplControllerMethod02"></bean>
    <!--3普通类+RequestMapping-->
    <bean class="org.RicardoPluto.controller._02implcontrollermethod.ImplControllerMethod03"></bean>
</beans>